@page
@model IndexModel
@{
    Layout = "Layouts/_DarkSchool";
    ViewData["Title"] = "School";
    int row = 1;
}

<partial name="/Partials/School/_MenuPartial.cshtml" />

<table>
    <thead>
        <tr>
            <th>Id</th>
            <td>Ad</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(row++)</td>
            <td>Some data1</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data2</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data3</td>
        </tr>
    </tbody>
</table>