@using Wms.Models
<nav role="navigation" class="navbar">
    <a href="/Bookstore/Index">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
        <div class="dropbtn">
            Administration &vellip;
        </div>
        <div class="dropdown-content">
            <a href="/Bookstore/BookManager">Books</a>
            <a href="#">Orders</a>
            <a href="#">Invoices</a>
            <hr />
            <a href="#">Employees</a>
            <a href="#">Jobs</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">
            Customers &vellip;
        </div>
        <div class="dropdown-content">
            <a href="#">Search</a>
            <a href="#">Shopping cart</a>
            <a href="#">Books</a>
        </div>
    </div>
    @await Html.PartialAsync("/Partials/Shared/_ContextMenuPartial.cshtml")
</nav> 