@using Wms.Models
<div class="dropdown right edge">
    <div class="dropbtn">
        User &vellip;
    </div>
    <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="#">Change password</a>
        <hr/>
        <a href="#">Log out</a>
    </div>
</div>
<div class="dropdown right">
    <div class="dropbtn">
        Context &vellip;
    </div>
    <div class="dropdown-content">
        <a href="#">Agile</a>
        <a href="#">Blogs</a>
        <a href="/Bookstore/Index">Bookstore</a>
        <a href="/School/Index">School</a>
    </div>
</div>
