@page
@model IndexModel
@{
    Layout = "Layouts/_DarkBookstore";
    ViewData["Title"] = "Home";
    int row = 1;
}

<partial name="/Partials/Bookstore/_MenuPartial.cshtml" />

<h1 style="margin: 0 auto; text-align:center;">Books</h1>


<form method="post" class="" style="margin: 1em;">

    <fieldset>
        <legend><label asp-for="Search"></label></legend>
        <input asp-for="Search" value="" placeholder="Search criteria" />
        <div style="display: flex; flex-direction: row-reverse; margin-top: .6em;">
        <button type="submit">Search</button>
    </div>
    </fieldset>

    
</form>

@* <table style="margin: 0 auto;">
    <thead>
        <tr>
            <th style="width:2em;">&numero;</th>
            <th>Titles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(row++)</td>
            <td>Some data1</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data2</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data3</td>
        </tr>
    </tbody>
</table> *@


@* <div style="margin: 0 auto;">
    <a href="/Bookstore/AddBook" class="btn">Add book</a>
</div> *@

