@page
@model IndexModel
@{
    Layout = "Layouts/_DarkBookstore";
    ViewData["Title"] = "Home";
    int row = 1;
}

<partial name="/Partials/Bookstore/_MenuPartial.cshtml" />

<h1 style="margin: 0 auto; text-align:center;">Books</h1>

<table style="margin: 0 auto;">
    <thead>
        <tr>
            <th style="width:2em;">&numero;</th>
            <th>Titles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(row++)</td>
            <td>Some data1</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data2</td>
        </tr>
        <tr>
            <td>@(row++)</td>
            <td>Some data3</td>
        </tr>
    </tbody>
</table>


<div style="margin: 0 auto;">
    <a href="/Bookstore/AddBook">Add book</a>
</div>

