@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Orbitron:wght@400;700&family=Wire+One&display=swap');

/*
    font-family: 'Nova Mono', monospace;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Wire One', sans-serif;
    var(--bs-body-font-family)
*/
:root {
    --light-green: #b6d2cb;
    --almond: #dfcfc0;
    --dark: #474554;
    --light: #eee;
    --bg-color: var(--light);
    --fn-attn: 'Orbitron', sans-serif;
    --fn-text: 'Nova Mono', monospace;
    --fn-thin: 'Wire One', sans-serif;
    --tx-color: var(--dark);
}

html {
    font-size: 1.67em;
    font-family: var(--fn-text);
    background-color: var(--bg-color);
    color: var(--tx-color);
}

body {
    margin:0;
}

h1, h2, h3, h4, h5, h6, label, button {
    font-family: var(--fn-attn);
}

/*Flex*/

.flex-container {
    display: flex;
}

    .flex-container.column {
        flex-direction: column;
    }

    .flex-container.vh-center {
        align-items: center;
        justify-content: center;
    }

.box {
    padding:1em;
    box-shadow: 0px 0px 14px rgba(10, 10, 10, 0.6);
}

/* Forms (login) */

form.login label {
    font-weight:bold;
}

form.login input {
    margin: .6em 0;
    padding: .167em;
    font-size: 1.27em;
    background-color: transparent;
    border: var(--bd-default);
    color: var(--tx-color);
    text-align: center;
    font-family: var(--fn-mono);
    width: 280px;
    height: 1.8em;
    transition: border 1s;
}
    form.login input:hover {
        border: var(--bd-highlight);
    }

    form.login input:focus {
        border: var(--bd-highlight);
        outline: none;
    }

form.login button {
    margin: .3em;
    padding: .267em;
    font-size: 1.27em;
    background-color: transparent;
    border: var(--bd-default);
    color: var(--tx-color);
    border-radius: 1em;
    opacity: 0.3;
    transition: border 1s, opacity 0.5s;
}

    form.login button:hover {
        cursor: pointer;
        border: var(--bd-highlight);
        opacity: 1;
        
    }

    form.login button:focus {
        outline: var(--bd-highlight);
        opacity: 1;
    }

p {
    font-family: var(--fn-mono);
}


/* Notifications */

.notification {
    margin-top:1em;
    font-family: var(--fn-attn);
}

    .notification.alert-Error {
        color: var(--orange);
    }

    .notification.alert-Warning {
        color: var(--yellow);
    }

/* Table */

th {
    font-family: var(--fn-text);
    text-align: start;
}

/* Menu */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--almond);
    color: var(--dark);
    font-family: var(--fn-attn);
}

    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: var(--dark);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: var(--dark);
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        cursor: pointer;
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: var(--light-green);
    }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--almond);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: var(--light-green);
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
} 