@using Wms.Models
<nav role="navigation" class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
        <div class="dropbtn">
            Blazer &vellip;
        </div>
        <div class="dropdown-content">
            <a href="#">Availability</a>
            <a href="#">Loan Records</a>
            <a href="#">Loan Forecast</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">
            Administration &vellip;
        </div>
        <div class="dropdown-content">
            <a href="#">Classes</a>
            <a href="#">Teachers</a>
            <a href="#">Staff</a>
            <a href="#">Facilities</a>
            <a href="#">Assets</a>
            <a href="#">Blazers</a>
        </div>
    </div>
    @await Html.PartialAsync("/Partials/Shared/_ContextMenuPartial.cshtml")
</nav> 