@using Wms.Models
<nav role="navigation" class="top-menu">
    <div class="dropdown"><a href="#home">Home</a></div>
    <div class="dropdown"><a href="#news">News</a></div>
    <div class="dropdown">
        <span>Dropdown <i class="fa fa-caret-down"></i></span>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="navbar">
    </div>
</nav>
