@page
@model Wms.Pages.LoginModel
@{
    Layout = "Layouts/_DarkLogin";
    ViewData["Title"] = "Login";
}

<div class="flex-container vh-center">
    <main role="main" class="">

        <h1 style="text-align:center">WMS</h1>


        <div class="box">
            <form method="post" class="login flex-container column" autocomplete="off">
                <div class="flex-container column vh-center">
                    <label>Username</label>
                    <input type="text" asp-for="Login.Username" class="textbox" />
                </div>
                <div class="flex-container column vh-center">
                    <label>Password</label>
                    <input type="password" asp-for="Login.Password" class="textbox" />
                </div>
                <div class="flex-container column center">
                    <button type="submit">Log in</button>
                </div>
            </form>

            <div class="flex-container column vh-center">
                <partial name="/Partials/Public/_NotificationPartial.cshtml" />
            </div>

            <p>
                put some text here to get a feeel
            </p>
        </div>
    </main>
</div>

@*<div class="container">
    <div class="row align-items-start">

    <div class="col">
    <form method="post">
    <div class="mb-3 col-md-6">
    <label asp-for="Login.Username" class="form-label"></label>
    <input type="text" class="form-control" asp-for="Login.Username" aria-describedby="usernameHelp"/>
    <div id="usernameHelp" class="form-text">Usernames are a minimal of 3 characters.</div>
    </div>
    <div class="mb-3 col-md-6">
    <label for="Login.Password" class="form-label">Password</label>
    <input class="form-control" asp-for="Login.Password" aria-describedby="passwordHelp" />
    <div id="passwordHelp" class="form-text">Password needs to have a mix of upper and lower case alphanumeric characters.</div>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    </div>

    <div class="col">
    <div class="text-center">
    <p>
    <partial name="/Partials/Public/_AlertPartial.cshtml" />
    </p>
    </div>
    </div>

    </div>
    </div>*@