@page
@model Wms.Pages.Gallery.GameOfLifeModel
@{
    Layout = "Layouts/_DarkBookstore";
    ViewData["Title"] = "Home";
}

<partial name="/Partials/Bookstore/_MenuPartial.cshtml" />

<h1 style="margin: 0 auto; text-align:center;">Fractal</h1>

@section Scripts {
<script>

</script>
}