@page
@model Wms.Pages.Gallery.IndexModel
@{
    Layout = "Layouts/_DarkBookstore";
    ViewData["Title"] = "Home";
}

<partial name="/Partials/Bookstore/_MenuPartial.cshtml" />

<h1 style="margin: 0 auto; text-align:center;">Gallery</h1>

<div class="flexy-columns" style="margin-top:.6em;">
    <div class="box center-content">
        <h2>Fractals</h2>

        <p><a href="/Gallery/Seirpinski">Seirpinski</a></p>
        <p><a href="/Gallery/SeirpinskiAnimated">Seirpinski (Animated)</a></p>

        <p><a href="/Gallery/Koch">Koch</a></p>
        <p><a href="/Gallery/KochAnimated">Koch (Animated)</a></p>

        <p><a href="/Gallery/Fractal">Mandelbrot</a></p>
        <p><a href="/Gallery/Fractal2">??Fractal2</a></p>


    </div>
    <div class="box center-content">
        <h2>Automata</h2>
        <p><a href="/Gallery/GameOfLife">Game-of-Life</a></p>
        <p><a href="/Gallery/GameOfLife2">Game-of-Life 2</a></p>
    </div>
    <div class="box center-content">
        <h2>Animation</h2>

        <a href="/Gallery/AnimatedEarth">Animated Earth</a>
    </div>
</div>